body{
    margin: 0;
    padding-top: 80px;
}

.NavBar{
    background-color: black;
    color: white;
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 900;
    top: 0;
    left: 0;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    font-family: "Archivo Black";
    padding: 0 2rem; /* Añade un poco de espacio en los bordes */
}

.nav-links h1 {
    font-size: clamp(1.5rem, 4vw, 2.2rem); /* Letra responsive */
    margin: 0;
}

.Pagina1{
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:row;
    margin: 5% 10%;
    gap: 20%;
}

img{
    min-width: none;
    width: 30%;
}

p{
    font-size: 5vh;
    font-family: "Archivo Black";
    user-select: none; /* Evita que el texto del párrafo se pueda seleccionar */
}

.Botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}

.button{
    background-color: transparent;
    color: black;
    padding: 4% 10%;
    border-radius: 15px;
    border: 3px solid black;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    user-select: none; /* Evita que el texto del botón se pueda seleccionar */
}

.button:hover{
    background-color: black;
    color: white;
}

.Pagina2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel{
    min-width: none;
    width: 900%;
}

@media  (max-width: 530px) {
    .nav-links{
        flex-direction: column;
} 

    .Pagina1{
        flex-direction: column;
        align-items: center;
    }

    img{
        width: 50%;
    }
}